* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
.container {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    height: 920px;
    display: flex; 
    gap: 20px;    
}



.item {    
    padding: 12px;
    flex-grow: 1;
    height: 300px;   
}
.item01 {
    /* border: 1px solid rgb(204, 204, 210); */
    /* background-color: bisque; */
    padding: 8px;
    flex-grow: 14;
    height: 30px;
    min-width: 100px;   
}
.item02 {
    border: 1px solid rgb(204, 204, 210);
    background-color: rgb(255, 255, 255);
    padding: 8px;
    flex-grow: 1;
    height: 780px;
    /* width: 400px; */
    border-radius: 20px;
    margin-top: 2%;   
}
.sus1 {
    height: 640px;
    background-color: rgb(230, 229, 229);
    padding-left: 10px;
    border-radius: 20px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

}
.isus1 {
    height: 90px;
    margin-top: 2px;
    background-color: rgb(230, 229, 229);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}
.profile img {
    border-radius: 50%;
}
.kisus {
    flex-direction: column;
    margin: 10px;
    background-color: rgb(230, 229, 229);
    height: 460px;
    border-radius: 20px;
}
.isus2 {
    height: 40px;
    background-color: rgb(196, 210, 210);
    border-radius: 20px;
    width: 90px;
    /* height: 2cm; */
    padding: 1px;
    /* margin: 20px; */
    margin-top: 3px;
    align-items: center;
    justify-content: center;

}
p {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-left: 5px;
    margin-top: 7px;

}
.isus3 {
    background-color: rgb(196, 210, 210);
    height: 40px;
    border-radius: 20px;
    width: 320px;
    padding: 1px;
    /* margin: 20px; */
    margin-top: 20px;

}
.isus4 {
    background-color: rgb(196, 210, 210);
    height: 40px;
    border-radius: 20px;
    width: 200px;
    padding: 1px;
    /* margin: 20px; */
    margin-top: 20px;
    justify-content: flex-start;

}
.isus9 {
    background-color: rgb(255, 255, 255);
    height: 40px;
    color: rgb(151, 15, 219);
    border-radius: 5px;
    width: 200px;
    padding: 1px;
    /* margin: 20px; */
    margin-top: 8px;
    justify-content: flex-start;

}
.name p {
    
    justify-content: center;
}
.isus10 {
    background-color: rgb(255, 255, 255);
    height: 40px;
    color: rgb(151, 15, 219);
    border-radius: 5px;
    width: 200px;
    padding: 1px;
    /* margin: 20px; */
    margin-top: 2px;
    justify-content: flex-start;

}
.isus11 {
    background-color: rgb(255, 255, 255);
    height: 40px;
    color: rgb(151, 15, 219);

    border-radius: 5px;
    width: 200px;
    padding: 1px;
    /* margin: 20px; */
    margin-top: 2px;
    justify-content: flex-start;

}


.isus5 {
    background-color: #7b00f7;
     height: 40px;
    color: white;
    border-radius: 20px;
    width: 130px;
    padding: 5px;
    /* margin-top: 10;  */
     margin-left: 63%; 
     align-items: center;

    
}
.ppp {
    justify-content: flex-end;
    margin-right: 4px;
    margin-top: 5px;
    


}
.isus6 {
    /* flex-direction: column; */
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
    height: 80px;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
   
}
.enterr img {
    border-radius: 50%;
}
.txt {
    margin-right: 50%;
    align-items: center;
    margin-bottom: 10px;
}
.isus14 {
    background-color: #6f6e70;
    align-items: center;
    margin-top: 20px;
    margin-left: 35%;
    justify-content: center;
    height: 7px;
    width: 135px;
    border-radius: 20px;
}


.item03 {
    /* border: 1px solid rgb(249, 249, 249); */
    /* background-color: bisque; */
    padding: 8px;
    flex-grow: 14;
    height: 30px;
   
}

